html, body {
    background-color: #FFCC33;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos img {
    width: 30%;
}

@media only screen and (min-width: 400px) {
    .logos {
        justify-content: center;
        flex-direction: row;
    }

    .logos img {
        width: auto;
    }
}

h1 {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: all-small-caps;
    text-align: center;
    font-size: 10vw;
}